@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&display=swap");
* {
  margin: 0;
  font-family: Poppins;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
}

p {
  font-size: 1vw;
}
.formulario {
  background-color: #fff;
  height: 100vh;
  padding: 2vw 5vw 1.5vw 6.5vw;
  display: grid;
  grid-template-columns: 100%;
  gap: 5vh;
}

.formulario .topo .voltar {
  font-size: 1.563vw;
}

.formulario .topo p img {
  margin: 0 0 -0.8vh 0;
  width: 2vw;
}

.formulario .topo h2 {
  margin: 1rem 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}

#nome {
  width: 33.5vw;
  height: 3.5vh;
  padding: 0.5vh;
}

#data {
  width: 32vw;
  height: 2.5vh;
  padding: 1vh 1vw;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

#sexo {
  width: 34.3vw;
  height: 5vh;
  padding: 1vh 1vw;
}

input {
  transition: border-color 0.3s;
  border-radius: 0.5vw;
  border: 2px solid #c0bfbe;
}

input:hover {
  border-color: #f3541c;
}

#info-medicas {
  width: 32vw;
  height: 8vh;
  padding: 1vh 1vw;
}

.upload-box {
  display: inline-block;
  width: 30vw;
  height: 20vh;
  padding: 2vh 2vw;
  margin-top: 2vh;
  color: #333;
  text-align: center;
  border: 2px dashed #999;
  border-radius: 2vh;
  font-size: 2.2vh;
  transition: background-color 0.3s;
}

.upload-box:hover {
  background-color: #dddddd;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  align-self: stretch;
  font-size: 1vw;
}

#cep {
  width: 33.5vw;
  height: 5vh;
  padding: 0.5vh;
}

.rua {
  display: flex;
}

#rua {
  width: 20vw;
  height: 4vh;
  padding: 1vh 1vw;
  margin: 0 0.8vw 0 0;
}

#numero {
  width: 9vw;
  height: 4vh;
  padding: 1vh 1vw;
}
#cidade {
  width: 20vw;
  height: 4vh;
  padding: 1vh 1vw;
  margin: 0 0.8vw 0 0;
}
#estado {
  width: 9vw;
  height: 4vh;
  padding: 1vh 1vw;
}

#tamanho {
  width: 33.5vw;
  height: 5vh;
  padding: 0.5vh;
}

.opcoes label {
  padding: 1vh 1vw;
  text-align: center;
  cursor: pointer;
  width: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s;
}

.turno {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 34vw;
  margin-bottom: 3vh;
}



.escolha {
  border: 2px solid #ccc;
  border-radius: 2vh;
  padding: 1vh;
  width: 15vw;
}

.esportes {
  display: flex;
  width: 34vw;
  margin-top: 3vh;
  flex-wrap: wrap;
  margin-top: -2vh;
}
.sports {
  border: 2px solid #ccc;
  border-radius: 2vh;
  padding:  0.3vh 0.2vw 0.1vh 0.3vh  ;
  width: 7.26vw;
  margin: 0.3vw
}

.info2 img{
  align-items: center;
  justify-content: center;
}

.esportes label {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.opcoes input[type="radio"] {
  transform: scale(1.2);
}

.opcoes input[type="radio"]:checked {
  accent-color: #ff5722;
}

.opcoes label img {
  margin: 1vh 0 -1vh 0;
}

.opcoes input {
  border-color: #999;
}

.final {
  display: flex;
  gap: 10px; 
  justify-content: flex-end; 
}

.botao1 button,
.botao2 button{
  padding: 1.5vh 2.5vw;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1vw;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 3rem;
}

.botao1 button{
  border: 1.5px solid #e5391c;
  background-color: transparent;
  color: #e5391c;
}

.botao2 button{
  background-color: #e5391c;
  color: white;
}

.fixo {
  background-color: rgba(254, 231, 214, 1);
  padding: 2vw 5vw 1.5vw 6.5vw;
  height: 95vh;
  position: fixed;
  left: 50%;
}

.fixo h3 {
  font-family: schoolbell;
  font-size: 1.563vw;
}

h1 {
  font-size: 2.25vw;
}

span {
  color: rgba(228, 58, 18, 1);
}

.fixo .texto {
  gap: 0.5vh;
}

.fixo .texto img {
  width: 2vw;
  margin: 0 0 -0.8vh 0;
}

.fixo .ilustracao img {
  width: 35vw;
}
